:root{
    --blue-600: #025ead;
    --blue-800: #003868;
    --blue-900: #012f57;
    --pink-50: rgba(255, 14, 209, 0.25);
    --pink-500: #ff0ed1;
    --pink-600: #C60CA2;
    --pink-800: #610950;
    --black-100: rgba(0, 0, 0, 0.4);
    --black-200: #363636;
    --black-900: #222222;
    --gray-200: #ececec;
    --gray-400: #C0C0C0;
    --gray-800: #696969;
    --white-50: rgba(255, 255, 255, 0.3);
    --white-80: rgba(255, 255, 255, 0.5);
    --white-90: rgba(255, 255, 255, 0.7);
    --white-100: #ffffff;
    --white-150: #fafafa;
    --white-200: rgba(250, 250, 250, 0.5);
    --gradient-radial: radial-gradient(circle, rgba(255,14,209,0.6) 5%, rgba(255,14,209,0.05)52%, rgba(250, 250, 250, 0.5) 90%)
    --gradient-radial2: radial-gradient(circle, rgba(255,14,209,0.1) 5%, rgba(255,14,209,0.05)52%, rgba(250, 250, 250, 0.5) 90%)
    --gradient-radial-blue: radial-gradient(circle, rgba(0,56,104,0.5) 5%, rgba(45,91,130,0.05) 52%, rgba(250,250,250,0) 100%)
    --gradient-radial-blue2: radial-gradient(circle, rgba(0,56,104,0.1) 5%, rgba(45,91,130,0.05) 52%, rgba(250,250,250,0.5) 90%)
    --gradient-radial-blue-mini: radial-gradient(circle, rgba(0,56,104,0.1) 5%, rgba(45,91,130,0.05) 52%, rgba(250,250,250, 0.008) 70%)
    --white-gradient: linear-gradient(138deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15449929971988796) 64%, rgba(250,250,250,1) 100%)
    --black-gradient: linear-gradient(138deg, #222222 50%, #363636 90%, #4F4F4F 100% )
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background-color: var(--gray-200);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
}
.equipe-title{
    margin-top: 10rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 150px;
    text-align: center;
}
.equipe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1280px;
    margin-top: 2.5rem;
    gap: 2.5rem;
}
.card-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
    width: 280px;
    height: 280px;
    border-radius: 1rem;
    overflow: hidden;
}
.card-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-photo img{
    width: 100%;
    object-fit: cover;
    
    transition: 500ms all ease;
}
.card-text{
    text-align: center;
}
.card-text .name-equipe{
    margin-top: 0.5rem;
    font-size: 24px;
    
}
.card-text .function-equipe{
    font-size: 16px;
    font-weight: 100;
    margin-top: -0.25rem;
    margin-bottom: 0.5rem;
}
.card-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.card-social img{
    width: 1.5rem;
}
.card-card:hover{
    overflow: visible;
}
.card-content{
    display: none;
}
@media (min-width: 801px){
    .card-card:hover .card-photo img{
        width: 194px;
        margin-top: -1.5rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        object-fit: cover;
    }
    .card-card:hover .card-content{
        display: block;
    }
}
@media (max-width: 800px){
    .container .equipe-title{
        font-size: 80px;
    }
    .card-card{
        width: 150px;
        height: 300px;
    }
    .card-card .card-content{
        display: block;
    }
    .card-photo img{
        width: 150px;
        height: 150px;
        border-radius: 20px 20px 0 0;
    }
    .card-content .name-equipe{
        font-size: 16px;
    }
    .card-content .function-equipe{
        font-size: 13px;
    }
    .card-card{
        justify-content: start;
    }
}