:root{
    --blue-600: #025ead;
    --blue-800: #003868;
    --blue-900: #012f57;
    --pink-50: rgba(255, 14, 209, 0.25);
    --pink-500: #ff0ed1;
    --pink-600: #C60CA2;
    --pink-800: #610950;
    --black-100: rgba(0, 0, 0, 0.4);
    --black-200: #363636;
    --black-900: #222222;
    --gray-200: #ececec;
    --gray-400: #C0C0C0;
    --gray-800: #696969;
    --white-50: rgba(255, 255, 255, 0.3);
    --white-80: rgba(255, 255, 255, 0.5);
    --white-90: rgba(255, 255, 255, 0.7);
    --white-100: #ffffff;
    --white-150: #fafafa;
    --white-200: rgba(250, 250, 250, 0.5);
    --gradient-radial: radial-gradient(circle, rgba(255,14,209,0.6) 5%, rgba(255,14,209,0.05)52%, rgba(250, 250, 250, 0.5) 90%)
    --gradient-radial2: radial-gradient(circle, rgba(255,14,209,0.1) 5%, rgba(255,14,209,0.05)52%, rgba(250, 250, 250, 0.5) 90%)
    --gradient-radial-blue: radial-gradient(circle, rgba(0,56,104,0.5) 5%, rgba(45,91,130,0.05) 52%, rgba(250,250,250,0) 100%)
    --gradient-radial-blue2: radial-gradient(circle, rgba(0,56,104,0.1) 5%, rgba(45,91,130,0.05) 52%, rgba(250,250,250,0.5) 90%)
    --gradient-radial-blue-mini: radial-gradient(circle, rgba(0,56,104,0.1) 5%, rgba(45,91,130,0.05) 52%, rgba(250,250,250, 0.008) 70%)
    --white-gradient: linear-gradient(138deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15449929971988796) 64%, rgba(250,250,250,1) 100%)
    --black-gradient: linear-gradient(138deg, #222222 50%, #363636 90%, #4F4F4F 100% )
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background-color: var(--gray-200);
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 30px;
}
.navegation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: red;
    height: 40px;
    /* width: 100%; */
    border-radius: 50px;
}
.navegation button{
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 100%;
}
.nav-mobile{
    display: none;
}
.left-side img:hover{
    cursor: pointer;
}
.nav-desktop{
    transition: all 700ms ease-in-out ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.menu{
    position: fixed;
    z-index: 10;
    top: 0;
    backdrop-filter: blur(12px);
    border-radius: 100px;
    width: 1100px;
    height: 6rem;
    margin-top: 1rem;
    background-color: var(--white-80);
}

.menu-desactive{
    position: absolute;
    top: 0;
    width: 100%;
    height: 6rem;
}

.nav-desktop img{
    width: 8rem;
}

.container-right-menu{
    display: flex;
    align-items: center;
    gap: 10px;
}

.translate-navigation{
    position: relative;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.translate-navigation ul{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.translate-navigation ul li{
    position: relative;
    list-style: none;
}

.translate-navigation ul li button{
    background-color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: all 100ms ease-in-out
}

.right-nav{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100%;  
    cursor: pointer; 
    transition: all 500ms ease-in-out;
    z-index: 10;
}
.right-nav:hover{
    /* animation: bgDna 500ms ease-in-out; */
}
.right-nav:hover{
    transform: rotate(360deg); 
}

.right-nav .i-menu{
    width: 35px;
    height: 35px;
}

.right-nav .dna{
    display: none;
    transition: all 500ms ease-in-out;
}
@keyframes bgDna {
    0%{
        width: 50px;
        height: 50px;
    }
    50%{
        width: 70px;
        height: 70px;
    }
    100%{
        width: 50px;
        height: 50px;
    }
}

@keyframes dna {
    0%{
        width: 10px;
        height: 10px;
    }
    50%{
        width: 50px;
        height: 50px;
    }
    100%{
        width: 35px;
        height: 35px;
    }
}

.right-nav:hover .i-menu{
    display: none;
}

.right-nav:hover .dna{
    display: block;
    animation: dna 500ms ease-in-out;
    width: 35px;
    height: 35px;
}

.menuu{
    position: fixed;
    top:0;
    transform: translateX(100%);
    z-index: 10;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: var(--white-150);   
    transition: all 500ms ease-in-out;
}

.menu-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu-container img{
    position: absolute;
    top: 40px;
    right: 60px;
    width: 25px;
    cursor: pointer;
}
.content-menu ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 72px;
    list-style-type: none;
    font-weight: 900;
}
.content-menu li:hover{
    font-size: 90px;
}

.content-menu span{
    text-transform: uppercase;
    cursor: pointer;
}

.video-bg{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.video-bg .video-desktop{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.translate-mobile{
    display: none;
}
.video-mobile{
    display: none;
}
.compromissos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    margin-bottom: 4rem;
    max-width: 1280px;
    height: 500px;
    border-radius: 1.5rem;
    background-color: var(--white-200);
}
.comp-left, .comp-right{
    flex: 1;
}
.comp-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 5rem;
    font-size: 18px;
}
.comp-left h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 109px;
}
.comp-left p{
    text-align: justify;
    padding-right: 80px;
}
.comp-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.quad{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 12rem;
    height: 12rem;
    border-radius: 1.5rem;
    padding: 0 2.5rem;
    gap: 1.25rem;
    background-color: var(--white-100);
}
.quad img{
    width: 5rem;
}
.quad span{
    text-align: center;
    font-size: 16px;
}
.segmentos, .clientes, .solucoes, .combinacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
}
.segmentos h2, .clientes h2, .solucoes h2, .combinacao h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 150px;
}
.clientes h2{
    margin-bottom: 50px;
}
.clientes .text-mobile{
    display: none;
}
.segmentos{
    width: 100%;
}
.segmentos-mobile{
    display: none;
}
.container-segmentos{
    width: 1440px;
    height:700px;
    display: flex;
}

.left-segmentos{
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height:auto;
}

.left-segmentos .img-frente{
    position: absolute;
    z-index: 2;
    width: 437px;
    height: 473px;
}

.left-segmentos .img-atras{
    position: absolute;
    z-index: 1;
    left: 20rem;
    width: 375px;
    height: 337px;
    opacity: 0.4;
}

.slide{
    transition: all 400ms ease;
}

.container-btns{
    position: absolute;
    z-index: 4;
    right: 6rem;
}

.container-btns button{
    padding: 10px;
    width: 3rem;
    height: 3rem;
    margin: 0.25rem;
    border-radius: 1rem;
    border:none;
    font-size:18px;
    background-color: var(--blue-800);
    color: white;
    text-align: center;
    cursor: pointer;
}

.right-segmentos{
    flex: 1;
    border-radius: 1.5rem;
    text-align: justify;
    font-size: 18px;
    padding: 3.5rem;
    background-image: linear-gradient(138deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15449929971988796) 64%, rgba(250,250,250,1) 100%);
}
.seg-content h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.75rem;
    text-align: center;
    margin-bottom: 1.75rem;
}
.seg-content p{
    font-size: 18px;
    margin-bottom: 1.75rem;
}
.seg-content h5{
    font-weight: bold;
    margin-bottom: 1.75rem;
}
.seg-content .hcinco{
    text-align: center;
}
.seg-content ul{
    margin-left: 2.5rem;
    font-size: 14px;
}
.hc-seg{
    display: none;
}
.clientes{
    width: 100%;
}
.clientes-mobile{
    display: none;
}
.container1-clientes {
    display: flex;
    overflow-x: hidden;
    gap:3rem;
    scroll-snap-type: x mandatory;
}

.container1-clientes img {
    cursor: pointer;
    filter: grayscale(100%);
    width: 100px;
    height: auto;
}
.container2-clientes {
    display: flex;
    overflow-x: hidden;
    gap:3rem;
    scroll-snap-type: x mandatory;
}

.container2-clientes img {
    cursor: pointer;
    filter: grayscale(100%);
    width: 100px;
    height: auto;
}

.container1-clientes img:hover{
    filter: none;
}

.container2-clientes img:hover{
    filter: none;
}

.solucoes{
    max-width: 1440px;
}
.solucoes p{
    margin-top: 2rem;
    text-align: center;
    width: 50%;
    font-size: 18px;
}
.cards-solucoes{
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    height: 12rem;
    width: 12rem;
    border-radius: 1.5rem;
    font-size: 13px;
    text-align: center;
    background-color: var(--gray-200);
    border: 1px solid var(--white-100);
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.15);
}
.img-card, .cards span{
    flex: 1;
}
.img-card{
    padding-top: 1rem;
}
.cards img{
    width: 5rem;
    height: 5rem;
}
.cards .solucoes-bg-icon{
    position: absolute;
    top: 1.75rem;
    left: 1.75rem;
}
.combinacao .comb-p{
    margin: 5rem 0;
    text-align: center;
    width: 800px;
    font-size: 18px;
}
.combinacao h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.5rem;
    margin-bottom: 9rem;
}
.cotainer-segmento{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1158px;
}
.seg-img{
    display: flex;
    justify-content: space-between;
}
.seg-img div img{
    width: 443px;
    height: 665.16px;
    border-radius: 1.5rem;
    filter: blur(4px);
}
.seg-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    position: absolute;
    width: 100%;
}
.seg-text .text-up, .seg-text .text-down{
    width: 50%;
    justify-content: start;
    margin: 20px 56px 20px 20px;
    padding: 48px;
    border-radius: 1.5rem;
    background-color: var(--white-150);
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.15);
} 
.seg-text h4{
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.25rem;
    margin-bottom: 24px;
}
.seg-text p{
    font-size: 14px;
}
.seg-text .text-up, .seg-text .text-down{
    text-align: left;
}
footer{
    width: 100%;
    height: 100%;
}
.footer-mobile{
    display: none;
}
.footer-desktop{
    display: flex;
    position: relative;
    margin-top: 7rem;
    min-height: 900px;
    width: 100%;
    background-image: url("../assets/img-footer/fundo.png");
}
/* QUADRADO 1 ROSA ESQUERDA */
.left-pink-container{
    position: absolute;
    animation: left-pink 10s ease-in-out infinite;
}
.ret-left-pink{
    position: absolute;
    top: -3rem;
    left: -5rem;
    filter: blur(4px);
    width: 12rem;
    height: 12rem;
    transform: rotate(-60deg);
    border-radius: 1.5rem;
    background-image: linear-gradient(var(--pink-500), var(--pink-800));
}
@keyframes left-pink {
    0%{
        top: 0px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 0px;
    }
  }
  /* QUADRADO AZUL ESQUERDA */
.left-blue-container{
    position: absolute;
    animation: left-blue 5s ease-in-out infinite;
}
.ret-left-blue{
    position: absolute;
    width: 20rem;
    height: 16rem;
    top: 4rem;
    left: -7rem;
    filter: blur(4px);
    transform: rotate(-60deg);
    border-radius: 1.5rem;
    background-image: linear-gradient(var(--blue-600), var(--blue-900));
}
@keyframes left-blue {
    0%{
        top: 0;
    }
    50%{
        top: 20px;
    }
    100%{
        top: 0;
    }
}
/* QUADRADO 2 ROSA ESQUERDA */
.left-pink2-container{
    position: absolute;
    animation: left-pink2 8s ease-in-out infinite;
}
.ret-left-pink2{
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 6rem;
    left: 24rem;
    filter: blur(16px);
    transform: rotate(-60deg);
    border-radius: 1.5rem;
    background-image: linear-gradient(var(--pink-500), var(--pink-800));
}
@keyframes left-pink2 {
    0%{
        top: -10px;
    }
    50%{
        top: 20px;
    }
    100%{
        top: -10px;
    }
}
/* QUADRADO AZUL CENTRAL */
.center-blue-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: center-blue 3s ease-in-out infinite;
    width: 100%;
}
.center-center{
    position: absolute;
    width: 24rem;
    height: 14rem;
    top: -3rem;
    filter: blur(4px);
    transform: rotate(-24deg);
    border-radius: 1.5rem;
    background-image: linear-gradient(var(--blue-600), var(--blue-900));
}
@keyframes center-blue {
    0%{
        top: -10px;
    }
    50%{
        top: 20px;
    }
    100%{
        top: -10px;
    }
}
/* QUADRADO ROSA DIREITA */
.right-pink-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: right-pink 6s ease-in-out infinite;
    width: 100%;
}
.ret-right-pink{
    position: absolute;
    width: 8rem;
    height: 6rem;
    top: -2.5rem;
    right: 24rem;
    filter: blur(12px);
    transform: rotate(25deg);
    border-radius: 1.5rem;
    background-image: linear-gradient(var(--pink-500), var(--pink-800));
}
@keyframes right-pink {
    0%{
        top: -10px;
    }
    50%{
        top: 20px;
    }
    100%{
        top: -10px;
    }
}
/* QUADRADO AZUL DIREITA */
.right-blue-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: center-blue 10s ease-in-out infinite;
    width: 100%;
}
.ret-right-blue{
    position: absolute;
    width: 16rem;
    height: 15rem;
    right: -6rem;
    filter: blur(4px);
    transform: rotate(-60deg);
    border-radius: 1.5rem;
    background-image: linear-gradient(var(--blue-600), var(--blue-900));
}
@keyframes center-blue {
    0%{
        top: -10px;
    }
    50%{
        top: 30px;
    }
    100%{
        top: -10px;
    }
}
/* FILTRO COM OPACIDADE DE BG */
.footer-bg-op{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../assets/img-footer/fundo-opacidade.png");
    filter: blur(4px);
}
.footer-desktop .bg-img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    object-fit: cover;
}
.bg-balls{
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-image: url("../assets/img-footer/fundo-footer.png");
}
.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 2;
}
.logo-footer{
    height: 100px;
    width: 300px;
    object-fit: contain; 
}
.logo-footer img{
    width: 300px;
}
.content-footer{
    margin-top: 6rem;
    display: flex;
    gap: 80px;
}
.content-footer h2{
    margin-bottom: 0.75rem;
    font-size: 1.875rem;
}
.content-footer a{
    text-decoration: none;
    font-size: 18px;
    color: var(--black-900);
}
.container-redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container-redes-sociais img{
    display: flex;
    position: block;
    width: 48px;
}
hr{
    margin-top: 7rem;
    margin-bottom: 2rem;
    width: 67%;
    height: 2px;
    border: none;
    background-color: var(--pink-500);
}
.up-copyright{
    font-size: 16px;
    margin-bottom: 10px;
}
.copyright{
    text-decoration: none;
    color: var(--black-900);
    font-size: 14px;
}

/* Responsive */

@media (max-width: 800px)
{
    .nav-desktop{
    display: none;
    }
    .nav-mobile{
        display: block;
        position: fixed;
        height: 96px;
        width: 100%;
        backdrop-filter: blur(12px);
        background-color: var(--white-80);
        backface-visibility: hidden;
        z-index: 20;
    }
    .container-nav-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 20px;
    }
    .left-side img{
        width: 6rem;
        object-fit: cover;
    }
    .menuu{
        z-index: 21;
    }
    .menu-container{
        position: relative;
    }
    .menuu li{
        font-size: 30px;
        line-height: 80px;
    }
    .translate-navigation ul{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .translate-navigation ul li button{
        background-color: #363636;
        color: white;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .translate-mobile{
        position: absolute;
        top: 35px;
        left: 40px;
        display: block;
    }
    .video-desktop{
        display: none;
    }
    .video-mobile{
        display: block;
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }
    .compromissos{
        flex-direction: column;
        height: auto;
        margin: 1.25rem;
        padding: 1.5rem;
        margin-top: 50px;
    }
    .comp-left{
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
    .compromissos h2{
        text-align: center;
        font-size: 50px;
    }
    .compromissos p{
        font-size: 14px;
        padding: 0;
    }
    .comp-right{
        padding-top: 50px;
    }
    .quad{
        width: 8rem;
        height: 8rem;
        gap: 0.5rem;
    }
    .quad img{
        width: 3.5rem;
    }
    .quad span{
        font-size: 13px;
    }
    .segmentos{
        display: none;
    }
    .segmentos-mobile{
        display: block;
    }
    .segmentos-mobile .lang{
        font-family: "Bebas Neue", sans-serif;
        font-size: 50px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .inferior-lifescience{
        display: none;
        background-color: #BFDBFE;
    }

    .inferior-healthcare{
        background-color: #FBCFE8;
    }
    .superior-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin: 0 40px ;
        gap: 15px;
    }
    .divisao{
        font-size: 30px;
    }
    .superior-title h3{
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
    }
    .superior-title .left-side{
        background-color: #FBCFE8;
        padding: 8px;
        border-radius: 10px 10px 0 0;
        transition: 400ms all ease;
    }
    .superior-title .right-side{
        padding: 8px;
        border-radius: 10px 10px 0 0;
        transition: 400ms all ease;
    }
    .inferior{
        margin: 0 1.25rem;
        padding: 40px 40px;
        text-align: justify;
        border-radius: 10px;
        transition: 400ms all ease;
    }
    .inferior h3{
        font-size: 30px;
        font-family: "Bebas Neue", sabns-serif;
        text-align: center;
        margin-bottom: 30px;
    }
    .inferior p{
        margin-bottom: 40px;
    }
    .inferior h4{
        margin-bottom: 40px;
    }
    .inferior .center{
        text-align: center;
    }
    .clientes h2{
        font-size: 50px;
    }
    .clientes .text-mobile{
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    .container1-clientes, .container2-clientes{
        display: none;
    }
    .clientes-mobile{
        display: block;
        overflow-x: scroll;
        width: 100%;
    }
    .clientes-mobile p{
        text-align: center;
        margin-top: -10px ;
        margin-bottom: 30px ;
    }
    .container-mobile-clientes img{
        filter: grayscale(1);
    }
    .container-mobile-clientes img:hover{
        filter: grayscale(0);
    }
    .container-mobile-clientes{
        display: flex;
        gap: 30px;
        margin: 0 20px;
    }
    .solucoes h2{
        font-size: 50px;
    }
    .solucoes p{
        width: 80%;
        font-size: 14px;
    }
    .cards-solucoes{
        padding: 0 30px;
        margin-bottom: 0;
    }
    .solucoes .cards{
        width: 8rem;
        height: 8rem;
    }
    .solucoes .cards .solucoes-bg-icon{
        width: 3rem;
        height: 3rem;
    }
    .solucoes .cards .solucoes-icon{
        width: 3rem;
        height: 3rem;
    }
    .solucoes .cards span{
        font-size: 9px;
    }
    .combinacao h2{
        font-size: 50px;
    }
    .combinacao .comb-p{
        font-size: 14px;
        padding: 0 250px;
        margin: 2rem 0;
    }
    .combinacao h3{
        font-size: 30px;
        margin-bottom: 1rem;
    }
    .cotainer-segmento .img-left, .cotainer-segmento .img-right{
        display: none;
    }
    .cotainer-segmento{
        margin-bottom: 700px;
    }
    .seg-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .seg-text .text-up, .seg-text .text-down{
        margin: 0;
        width: 30%;
    }
    .seg-text .text-up h4, .seg-text .text-down h4{
        font-size: 36px;
    }
    .seg-text .text-up ul li, .seg-text .text-down ul li{
        font-size: 14px;
    }
    .footer-desktop{
        display: none;
    }
    .footer-mobile{
        display: block;
        margin: 0;
        padding: 0;
    }
    .content-footer-mobile{
        background-color: white;
        padding-bottom: 30px;
    }
    .content-footer-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .footer-mobile svg{
        margin-bottom: -10px;
    }
    .logo-footer-mobile img{
        padding-top: 50px;
        width: 150px;
    }
    .content-footer-mobile .title{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .content-footer-mobile .text{
        font-size: 14px;
    }
    .content-footer-mobile a{
        text-decoration: none;
        color: black;
    }
    hr{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .final-footer-mobile p{
        font-size: 14px;
    }
    .final-footer-mobile a{
        font-size: 12px;
    }
}